*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card{
    flex-basis: 40%;
    display: flex;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);

}


.col1{
    flex-basis: 37%;
    overflow: hidden;

}

.col1 img{
    width: 120%;
    height: 100%;
    display: block;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    object-fit: cover;
    transform: translateX(-20%) scale(1);
}


.col2{
    flex: 1;
    padding: 20px;
    
}

.col2 h1{
    font-size: 35px;
    font-weight: 600;
    
}

.name{
   
    margin-bottom: 5px;
}


.work{
    color: rgb(238, 123, 15);
}

.col2 p{
    color: black;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;

}

.social{
    margin-top: 15px;
}



.social .icon{
    font-size: 20px;
    margin: 0 5px;
}


@media(max-width:600px){
    .card{
        flex-basis: 100% !important;
        min-height: 50%;
    }
    .col2 p{
        font-size: 13px !important;
    }
    .social .icon{
        font-size: 13px !important;
        margin: 0 4px !important;
    }
}




















































